@page
@model Imatex.Web.Pages.ErrorModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Error - Imatex</title>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta http-equiv="Cache-control" content="public" max-age="86400">
    <meta name="theme-color" content="#000000" />
    <meta name="msapplication-navbutton-color" content="#000000" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#000000" />
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    <link rel="icon" type="image/png" href="favicon.png" />
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-W50W8Z5F6H"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-W50W8Z5F6H');
</script>

<body>
    <div class="main">
        <div class="content px-4 text-center">
            <img src="~/images/error.svg" alt="Error Image" class="w-25 py-5" />

            <h5 class="text-danger">An error occurred while processing your request.</h5>
            @if (Model.ShowRequestId)
            {
                <p>
                    <strong>Request ID:</strong> <code>@Model.RequestId</code>
                </p>
            }

            <p>
                <a href="/" class="btn btn-primary">Back to Home</a>
            </p>
        </div>
    </div>
</body>

</html>
