<div class="ms-3">
    <MudButton Href="/"
               Size="Size.Small"
               Variant="Variant.Text"
               Color="Color.Inherit"
               Style="text-transform:none">
        Home
    </MudButton>

    <MudButton Href="/image-extractor-from-document"
               Size="Size.Small"   
               Variant="Variant.Text"
               Color="Color.Inherit"
               Style="text-transform:none">
        Extractor
    </MudButton>

    <MudButton Href="/downloader"
               Size="Size.Small"
               Variant="Variant.Text"
               Color="Color.Inherit"
               Style="text-transform:none">
        Downloader
    </MudButton>
</div>