@* <div class="ms-3">
    <MudButton Href="/"
               Variant="Variant.Text"
               Color="Color.Inherit"
               Style="text-transform:none">
        Image To Text
    </MudButton>

    <MudButton Href="/image-extractor-from-document"
               Variant="Variant.Text"
               Color="Color.Inherit"
               Style="text-transform:none">
        Image Extractor
    </MudButton>
</div> *@